{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register {%endblock%}
{% block content %}

<body>
    <div class="container bg-light shadow-medium p-3 form-layout">
        <h3>Create your account</h3>
        <h5>Start managing your clients today!</h5>

        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}

            <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                Create Account
            </button>

        </form>
        <div class="text-center">
            <p>Already have an account</p><a href="{% url 'login' %}"> Login </a>
        </div>
    </div>
</body>
{%endblock%}